<h1>Generate Post</h1>

<div class="row" style="padding: 10px;">


    <form action="/admin/generate-fake-posts" method="post">

        <div class="form-group">
            <input name="amount" type="number" class="form-control">
        </div>

        <button class="btn btn-dark" type="submit">Generate</button>

    </form>

</div>